@model Metra_Development.Blog

@{
    ViewBag.Title = "DetailBlogs";
    Layout = "~/Views/Shared/AdminPanelLayout.cshtml";
    string link = "/Content/Images/" + Model.Photo + ".png";
}
<h2>@Model.Title</h2>
<img src="@link" title="@Model.Title" />
<p style="margin-top:20px;">@Html.Raw(@Model.Text)</p>

<a style="margin-top:35px;" href="/AdminPanel/AdminShowBlogs"><i class="glyphicon glyphicon-arrow-left" style="color:green; margin-top:24px; font-size:42px;"></i></a>

